---
import Layout from "../layouts/Layout.astro";

---

<Layout title="FAQ" description="This is the Aout page">
  <div class="faq">
    <h1>FAQ</h1>

    <div class="faq-section">
        <button>What is this</button>
        <p >This is a website that I made to learn about Astro and Tailwind CSS.</p>
    </div>
    
  
  </div>
</Layout>

<script>

   const buttons = document.querySelectorAll('button');

    buttons.forEach(button => {
         button.addEventListener('click', () => {
              const p = button.nextElementSibling;
              p.classList.toggle('hidden');
         })
    })
  


   

</script>
<style>
    .hidden{
        animation: turnOff 0.1s;

    }
    @keyframes delay {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
        
    }
    .faq-section{
        margin: 1rem;
        padding: 1rem;
        
    }
    .faq-section button{
        background-color: #1f2937;
        color: white;
        padding: 1rem;
        border-radius: 0.5rem;
        border: none;
       
        text-align: left;
    }


    
   
  

    .faq-section p{
        margin: 1rem;
        padding: 1rem;
        background-color: #1f2937;
        color: white;
        border-radius: 0.5rem;
        animation: delay 0.5s ease-in-out;
    }

    

</style>
