<div class="education">
  <ul>
    <li><b>Studying at</b></li>
    <li>
      <p>
        <a href="ku.edu.npm" target="_blank" rel="noopener noreferrer"
          >Kathmandu University,</a
        >
         Currently studying Computer Science and Engineering
      </p>
    </li>
  </ul>
  <hr>
</div>

<style>
  main {
    padding-left: 1em;
  }

  .education {
  }

  .education ul {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .education ul a {
    font-weight: 500;
  }
</style>
