---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">FAQ</HeaderLink>
  </nav>
</header>
<style>
  header {
	padding: 1Rem 0;
   
  }

  
  nav {
    display: flex;
    align-items: center;
    justify-content: left;
	padding: 1rem;
	gap: 1rem;
  }
 
</style>
