---

---

<div class="introduction">
  <h1>Hey there! Santosh here 👋🏻</h1>
  <p>
    A passionate Computer Engineer dedicated to delivering exceptional digital
    experiences, creating scalable, secure & performant solutions, exploring
    emerging technologies and continuously striving on delivering excellence
  </p>
  <p>
    Always evolving, learning and improving – <i>one day at a time.</i>
  </p>
  <hr />
</div>

<style>
  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    
   
  }
  .introduction h1 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .introduction p {
    text-wrap: wrap;
    

    line-height: 1.5;
    color: var(--paragraph-color);
  }

  .introduction hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    opacity: 0.2;
   
  }
</style>
